body {
    font-family: Arial, sans-serif;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    }

    .container {
    text-align: center;
    background-color: #388fe6;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    }

    h1 {
    color: #333;
    }

    #guessDiv {
    margin-bottom: 20px;
    }

    #guessInput {
    padding: 10px;
    font-size: 16px;
    width: 60%;
    margin-right: 10px;
    }

    #guessButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: yellow;
    }

    ul {
    list-style-type: none;
    padding: 0;
    }

    li {
    margin-bottom: 5px;
    }

    #resetButton {
    background-color: aqua;
    }
